[Desktop Entry]
Type=Application
Version=1.0
Name=OCRmyPDFgui
GenericName=OCR generator
Comment=Simple gui for ocrmypdf
Exec=ocrmypdfgui
Icon=Logs
Terminal=false
Categories=GTK;Office;OCR;
MimeType=application/pdf;
StartupNotify=true
